doctype html
html 
    head 
        title PADEL PLANET
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/style.css")
        link(rel="shortcut icon" href="/images/iconPadel.png" type="image/x-icon")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital@0;1&family=Orbitron:wght@900&family=Russo+One&display=swap" rel="stylesheet")


    body
        header
            section.logo
                h1.nombre-logo padel planet
                img.logo-bola(src="/images/iconPadel.png")

            nav 
                a(href="/") Home 
                a(href="/clubs") Clubes
                a(href="/games") Partidos
                a(href="/shop") Tienda
                a(href="/users") Usuarios
                a(href="/login") Login
                a(href="/logout") Logout
                a(href="/register") Sign Up

        main
            block content

            script(type="module", src="/js/script.js")  
            block script
        
        include footer.pug