extends ../main

block content
    h1.title Nuevo Club
    if error
        h2= error
    form.formulario(action="/clubs", method="post", enctype="multipart/form-data") 
        label(for="clubName") Nombre del club*
        input(type="text", name="clubName", id="clubName", class="input-field")
        label(for="address") Dirección*
        input(type="text", name="address", id="address", class="input-field")
        label(for="comments") Comentarios*
        input(type="text", name="comments", id="comments", class="input-field")
        label(for="photo") Foto
        input.foto(type="file", name="photo", id="photo", class="input-field")
        input.guardar(type="submit", value="Crear Club", class="btn-primary")
