extends ../main

block content
    h1.title Nuevo Club
    if error
        h2= error
    form.formulario(action="/clubs", method="post", enctype="multipart/form-data") 
        .form-group
            label(for="clubName") Nombre del club*
            input(type="text", name="clubName", id="clubName", class="input-field")
        .form-group
            label(for="address") Dirección*
            input(type="text", name="address", id="address", class="input-field")
        .form-group
            label(for="comments") Comentarios*
            input(type="text", name="comments", id="comments", class="input-field")
        .form-group
            label(for="fotoSubir") Foto
            input(type="file", name="photo", id="photo", class="input-field")
        .form-group
            input(type="submit", value="Crear Club", class="btn-primary")
